 /** { margin: 0; padding: 0; box-sizing: border-box; }*/

 html,
 body {
   background-color: grey;
   font-family: Arial, sans-serif;
   color: black;
 }

 @font-face {
   /*The name you are going to use for the font in the rest of the css*/
   font-family: terran;
   /*The actual path to the font you just named above*/
   src: url('assets/fonts/Mission.ttf');
 }

 h1 {
   font-size: 45px;
   line-height: .5;
   padding: 0px 15px 0px 10px;
   /*Using the imported font*/
 }

 header {
   font-family: terran;
   padding: 0px 15px 20px 10px;

 }

 nav {
   font-family: Arial, sans-serif;
 }

 h3 {
   font-size: 20px;
 }

 p {
   font-size: 0, 50em;
   text-align: left;
 }
   button {
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 5px 15px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    background-color:black;
}

   button:hover {
    background-color:green;
    cursor: pointer;
}

.led button  {
    background-color: #4CAF50; /* Green */
    border-color:#eee;
    color: white;
    border-radius: 2px 12px 10px 5px;
}

.robot button  {
    background-color: #4CAF50; /* Green */
    border-color:#eee;
    color: white;
    border-radius: 2px 12px 10px 5px;
}

   form button {
     background: rgb(130, 224, 255);
     border: none;
     color: black;
     padding: 2px 5px 3px 5px ;
   }

 .flex-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-start;
   align-items: stretch;
   /*padding: 10px;*/
 }

 .left {
   order: 1;
   /*flex-basis: 100%;*/
   align-self: stretch;
   padding: 0px 10px 10px 10px;
   height: 100%;
 }

 .middle {
   order: 3;
   flex-basis: 100%;
   flex-wrap: wrap;
   flex-direction: column;
 }

 .right {
   order: 2;
   flex-basis: 100%;
   padding: 20px 0 0 0;
   flex-wrap: wrap;
   flex-direction: column;
   align-self: flex-start;
 }

 footer {
   background-color: #AACCFF;
   float: left;
   position: absolute;
   width: 100%;
   height: 2.75em;
   bottom: 0;
   border-top: 0.15em solid blue;
   font-size: 10px;
 }

 @media screen and (min-width:650px) {
   html,
   body {
     margin: 0;
     /*height: 100%;*/
     /*min-height: 100%;*/
     min-height: 100vh;
   }
   body {
     display: flex;
     flex-direction: column;
   }
   .container {
     display: flex;
     flex-direction: row;
     height: 100%;
     flex-wrap: nowrap;
     justify-content: flex-start;
     align-items: stretch;
     align-content: stretch;
     height: 100%;
   }
   .left {
     flex: auto;
     order: 0;
     align-self: stretch;
     padding: 0 10px 10px 10px;
   }
   .right {
     flex: auto;
     order: 1;
     background: black;
     width: 100%;
     padding: 0 10px 0 10px;
   }
   form {
     background: #000;
     padding: 3px;
     width: 100%;
   }
   form input {
     border: 0;
     padding: 3px;
     width: 90%;
     margin-right: .5%;
   }

   #messages {
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
   #messages li {
     padding: 5px 10px;
   }
   #messages li:nth-child(odd) {
     background: #eee;
   }
   .robot {
     border-radius: 15px 50px 30px 5px;
     padding: 5px 5px 5px 5px;
     background: #eee;
     /*border-radius: 15px 50px 30px:*/
   }
   .led {
     border-radius: 15px 50px 30px 5px;
     padding: 5px 5px 5px 5px;
     background: #eee;
     /*border-radius: 15px 50px 30px:*/
   }
   .title {
     padding: 0px 5px 0px 5px;
   }
 footer {
   background-color: #AACCFF;
   float: left;
   position: absolute;
   width: 100%;
   height: 2.75em;
   bottom: 0;
   border-top: 0.15em solid blue;
   font-size: 10px;
 }
   .main-footer {
     margin-top: auto;
   }

 }
